/* VARIABLES */
:root {
  color-scheme: light dark;

  /* Color Palette */
  --clr-txt: light-dark(#080809, #fdfdfd);
  --clr-bg: light-dark(#f2f2f2, #080809);
  --clr-wbg: light-dark(#f4f4f4, #0a0a0b);
  --clr-glass: light-dark(color-mix(in srgb, var(--clr-txt) 10%, transparent), color-mix(in srgb, var(--clr-txt) 20%, transparent));
  --clr-p: #7c9d45;

  /* Font Sizes */
  --fs-xs: clamp(1rem, 0.96rem + 0.2vw, 1.2rem);
  --fs-s: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  --fs-m: clamp(1.1rem, 0.9rem + 1vw, 2.1rem);
  --fs-l: clamp(1.5rem, 1.12rem + 1.9vw, 3.4rem);
  --fs-xl: clamp(2rem, 1.4rem + 3vw, 5rem);

  /* Widths */
  --wid-ch-s: min(50ch, 60vw);
  --wid-ch-m: min(70ch, 70vw);
  --wid-ch-l: min(80ch, 80vw);

  --wid-vw-m: 70vw;
  --wid-vw-l: 80vw;

  /* Transition Vars */
  --trans-speed: .2s;
}

html[data-theme='light'] {
  --clr-txt: #080809;
  --clr-bg: #f2f2f2;
  --clr-wbg: #f4f4f4;
  --clr-glass: color-mix(in srgb, var(--clr-txt) 10%, transparent);
}

/* Dark Mode */
html[data-theme='dark'] {
  --clr-txt: #fdfdfd;
  --clr-bg: #080809;
  --clr-wbg: #0a0a0b;
  --clr-glass: color-mix(in srgb, var(--clr-txt) 20%, transparent);
}

/* BASE STYLES */
body {
  min-height: 100svh;
  color: var(--clr-txt);
  background: var(--clr-bg);
  font-family: Arial, Helvetica, sans-serif;
  transition: color .2s, background .2s;
}

p,
a {
  font-size: var(--fs-s);
}

h1 {
  font-size: var(--fs-l);
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  line-height: 1;
}

h2 {
  font-size: var(--fs-l);
}

.mono {
  font-family: 'Andale Mono', 'Courier New', Courier, monospace;
  letter-spacing: .15rem;
}

#page-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-block: 3%;
  margin-inline: 2%;
}

footer #copyright {
  font-size: var(--fs-xs);
  background: color-mix(in srgb, var(--clr-bg) 60%, transparent);
  border-radius: 20%;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
