/* GENERAL */
h2 {
  text-align: center;
}

/* Vertical accent bar before section titles */
@media (min-width: 799px) {
  h2::before {
    content: "";
    display: inline-block;
    position: relative;
    top: .5rem;
    left: -.25rem;
    height: calc(var(--fs-m) + 1.5rem);
    width: .95rem;
    background: var(--clr-p);
  }
}


/* THEME TOGGLE */
#theme-toggle {
  --toggle-speed: .2s;

  position: fixed;
  left: 2%;
  bottom: 3%;
  height: 3rem;
  width: 3rem;
  border: 3px solid var(--clr-txt);
  border-radius: 50%;
  background: transparent;

  backdrop-filter: blur(5px);
  cursor: pointer;
}

#theme-toggle::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -3px;
  height: 3rem;
  width: 3rem;
  border: 3px solid var(--clr-bg);
  border-radius: 50%;
  background: var(--clr-txt);
}

#theme-toggle.pressed::before {
  animation: toggle-press var(--toggle-speed) ease-in-out forwards;
}

@keyframes toggle-press {
  0% {
    transform: translateY(0rem);
  }

  30% {
    transform: translateY(1rem);
  }

  60% {
    transform: translateY(-.8rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@media (max-width: 480px) {
  #theme-toggle {
    left: auto;
    right: 2%;
  }
}


/* TITLE SECTION */
#title-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100svh;
  padding-block: 3%;
  padding-inline: 5%;
  text-align: end;
}

#title-section h1 {
  font-size: var(--fs-xl);
}

#title-section p {
  font-size: var(--fs-l);
}

@media (max-width: 480px) {
  #title-section {
    align-items: flex-start;
    text-align: start;
  }
}

@media (max-width: 399px) {
  #title-section {
    padding-block-end: 10svh;
  }
}


/* CONTENT SECTIONS */
.content-section {
  justify-self: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vw;
  width: var(--wid-vw-l);
  margin-block: 40svh;
}

@media (max-width: 799px) {
  .content-section {
    margin-block: 10svh;
  }
}


/* INTRO SECTION */
#intro-section {
  display: flex;
  flex-direction: row-reverse;
}

#intro-section blockquote .quote::before,
#intro-section blockquote .quote::after {
  content: '"';
  font-size: var(--fs-m);
  font-weight: bold;
  font-style: italic;
  line-height: 1;
}

#intro-section blockquote footer {
  margin-block-start: .5rem;
  opacity: .8;
}

#intro {
  max-width: var(--wid-ch-m);
  font-weight: bold;
  text-align: end;
}

@media (max-width: 799px) {
  #intro-section {
    flex-direction: column-reverse;
  }

  #intro-section blockquote {
    max-width: var(--wid-ch-m);
  }

  #intro {
    text-align: center;
  }
}

@media (max-width: 459px) {
  #intro {
    text-align: start;
  }
}


/* SKILLS SECTION */
#skills-section {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--wid-vw-l);
}

#skills-section .skill-icon {
  height: 7vw;
  min-height: 3rem;
  width: 7vw;
  min-width: 3rem;
}

#skills-section ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 2rem;
  max-width: var(--wid-vw-m);
}


/* PROJECTS SECTION */
#projects-section {
  flex-direction: column;
  gap: 0;
}

#projects-section h2 {
  align-self: flex-start;
}

#project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project {
  display: flex;
  flex-direction: column;
  margin-block-start: 3svh;
}

.project:nth-child(odd) {
  align-items: flex-end;
  text-align: end;
}

.project-card {
  --hover-shift: 2vw;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  transition: transform calc(var(--trans-speed) + .1s) ease-out;
}

.project .project-card:hover {
  transform: translateX(var(--hover-shift));
}

.project:nth-child(odd) .project-card:hover {
  transform: translateX(calc((-1) * var(--hover-shift)));
}

.project .project-card:hover .project-title {
  color: var(--clr-p);
}

.project-card .project-title {
  font-size: var(--fs-m);
  font-weight: bold;
  transition: color var(--trans-speed);
}

.project-card .project-time {
  font-style: italic;
}

.project-card .project-link {
  justify-self: flex-end;
  color: var(--clr-p);
  text-decoration: none;
  text-align: end;
}

.project:nth-child(even) .project-card .project-link {
  text-align: start;
}

@media (max-width: 799px) {
  .project-card {
    max-width: 100%;
  }
}


/* CONTACT SECTION */
#contact-section {
  justify-self: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: var(--wid-vw-l);
}

#contact-section h2 {
  text-decoration: underline var(--clr-p);
}

#contact-section h2::before {
  display: none;
}

#contact-grid {
  max-height: var(--wid-vw-m);
  max-width: var(--wid-vw-m);
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 3rem;
}

#contact-grid a .fill {
  fill: var(--clr-txt);
}

#contact-grid a .stroke path {
  stroke: var(--clr-txt);
}

#contact-grid a .stroke rect {
  stroke: var(--clr-txt);
}

@media (max-width: 799px) {
  #contact-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* FOOTER */
#page-footer {
  min-height: 20svh;
}
