/* CARD SECTION */
#title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100%;

  --clr-dim-p: color-mix(in srgb, var(--clr-p) 40%, transparent);
  background-position: center;
  background-size: 40px 40px;
  background-image: repeating-linear-gradient(45deg, var(--clr-dim-p) 0, var(--clr-dim-p) 6px, transparent 0, transparent 90%);

  overflow: hidden;
  perspective: 1000px;
}

#card {
  /* Modified in index.js */
  --tilt-x: 0deg;
  --tilt-y: 0deg;
  --flip-speed: .5s;
  --clr-boxshad: color-mix(in srgb, var(--clr-txt) 50%, transparent);

  position: relative;
  height: 75%;
  width: 75%;
  border: 3px solid white;
  transition: all var(--trans-speed) linear;

  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateX(var(--tilt-x)) rotateY(var(--tilt-y));
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-inline: 3%;
  padding-block: 2%;
  backdrop-filter: blur(5px);

  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* CARD FRONT */
#card-front {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
}

#card-front img {
  position: absolute;
  right: -1px;
  bottom: 0px;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}

@media (max-width: 899px) {
  #card-front {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
}

#title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#title .mono {
  font-size: var(--fs-m);
}

#click-prompt {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

#click-prompt p {
  color: color-mix(in srgb, var(--clr-txt) 50%, transparent);
}

#click-icon {
  height: var(--fs-l);
  width: var(--fs-l);
  stroke: var(--clr-txt);
}

/* CARD BACK */
#card-back {
  transform: rotateY(180deg);
}

/* TODO: Find a way to only have one card img not affected by backdrop-filter */
#card-back img {
  position: absolute;
  left: -1px;
  bottom: 0px;
  height: 100%;
  object-fit: cover;
  transform: rotateY(180deg);

  z-index: -1;
}
