node_modules/
.pnpm-store/
.pnp/
.pnpm/

dist/

.tailwind/

.env
.env.local
.env.development
.env.production
.env.test

.vite/
.cache/

npm-debug.log*
pnpm-debug.log*

*.tsbuildinfo

yarn.lock
package-lock.json

.github/workflows/*.log
