@import 'tailwindcss';

@theme {
	--breakpoint-xs: 30rem; /* 480px */

	--container-site: 43rem; /* 688px */

	--default-transition-duration: 0.2s;

	--font-display: 'Exo 2', sans-serif;
	--font-text: 'Roboto', sans-serif;

	--color-bg: var(--_bg);
	--color-txt: var(--_txt);
	--color-surface: var(--_surface);

	--color-primary: var(--p);
	--color-alternate: var(--a);
	--color-secondary: var(--s);
}

:root {
	--p: #007a99;
	--a: #005f73;
	--s: #66c2d6;

	--_bg: #fdfdf9;
	--_txt: #121212;
	--_surface: #f5f5f5;
}

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

[data-theme='dark'] {
	--_bg: #121212;
	--_txt: #fdfdf9;
	--_surface: #1d1d1d;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--_bg: #121212;
		--_txt: #fdfdf9;
		--_surface: #1d1d1d;
	}
}

[data-align='left'] body {
	text-align: left;
}

[data-align='justify'] body {
	text-align: justify;
}

[data-theme='dark'][data-palette='green'] {
	--p: #b7af79;
	--a: #9a9569;
	--s: #b9c096;
}

[data-theme='dark'][data-palette='blue'] {
	--p: #ff8547;
	--a: #ef7547;
	--s: #ff8753;
}

[data-theme='light'][data-palette='cyan'] {
	--p: #005e75;
	--a: #003e61;
	--s: #205e75;
}

[data-theme='light'][data-palette='purple'] {
	--p: #5b2a86;
	--a: #3e1b5a;
	--s: #6e409c;
}

html {
	color: var(--color-txt);
	background-color: var(--color-bg);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-text);
}

h1,
h2 {
	font-family: var(--font-display);
}

a {
	color: var(--color-primary);
}

a:hover {
	color: var(--color-alternate);
}

::selection {
	background-color: var(--color-primary);
	color: var(--color-surface);
}

:focus-visible {
	outline: 2px solid var(--color-primary);
	outline-offset: 3px;
	border-radius: 3px;
}
