@import 'tailwindcss';

@theme {
	--breakpoint-xs: 30rem; /* 480px */

	--default-transition-duration: 0.2s;

	--font-display: 'Exo 2', 'sans-serif';
	--font-text: 'Roboto', 'sans-serif';

	--color-bg: #fdfdfa;
	--color-txt: #121212;
	--color-surface: #eeeeee;
	--color-primary: #839362;
	--color-secondary: #aeba8c;
	--color-accent: #ff9b71;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #121212;
		--color-txt: #fdfdfa;
		--color-surface: #181818;
	}
}

[data-theme='dark'] {
	--color-bg: #121212;
	--color-txt: #fdfdfa;
	--color-surface: #181818;
}

::selection {
	background-color: var(--color-secondary);
}

[data-theme='dark'] ::selection {
	background-color: var(--color-primary);
}

html {
	color: var(--color-txt);
	background-color: var(--color-bg);
}

h1,
h2 {
	font-family: var(--font-display);
}
body {
	font-family: var(--font-text);
}

a {
	color: var(--color-primary);
}

a:hover {
	color: var(--color-secondary);
}

[data-theme='dark'] a {
	color: var(--color-secondary);
}

[data-theme='dark'] a:hover {
	color: var(--color-primary);
}

:focus-visible {
	outline: 2px solid var(--color-primary);
	outline-offset: 3px;
	border-radius: 3px;
}
