@import "tailwindcss";

@layer base {
  :root {
    --theme-txt: #070708;
    --theme-bg: #fcfcfc;
    --theme-primary: #7a9b43;
    --theme-focus: #8888ff;

    --trans-xs: .5s;
    --trans-s: .3s;
    --trans-m: .2s;
    --trans-f: .1s;
    --trans-xf: .05s;
  }

  .dark {
    --theme-txt: #fefefe;
    --theme-bg: #070708;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      --trans-xs: 0s;
      --trans-s: 0s;
      --trans-m: 0s;
      --trans-f: 0s;
      --trans-xf: 0s;
    }
  }

  html {
    color-scheme: light dark;
  }

  body {
    min-height: 100svh;

    color: var(--theme-txt);
    background-color: var(--theme-bg);
    transition: background-color var(--trans-m), color var(--trans-m);

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply font-sans;
  }

  button:focus-visible,
  input:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: 2px solid var(--theme-focus);
    outline-offset: 2px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  input,
  button,
  textarea,
  select {
    padding: 0;
    border: none;
    background: none;
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

}
