@import 'tailwindcss';

@theme inline {
  --color-txt: var(--txt);
  --color-bg: var(--bg);
  --color-prim: var(--prim);
  --color-acc: var(--acc);
  --color-ring: var(--ring);
}


:root {
  --txt: #232323;
  --bg: #fbfbf6;
  --prim: #ffd639;
  --acc: #7fb446;
  --ring: var(--txt);

  --trans-xs: .7s;
  --trans-s: .3s;
  --trans-m: .2s;
  --trans-f: .1s;
  --trans-xf: .05s;
}

.dark {
  --txt: #f8f8f6;
  --bg: #1a1a1a;
  --prim: #7fb446;
  --acc: #ffd639;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --trans-xs: 0s;
    --trans-s: 0s;
    --trans-m: 0s;
    --trans-f: 0s;
    --trans-xf: 0s;
  }
}

html {
  @apply scheme-light-dark;
}

body {
  @apply min-h-svh;
  @apply font-sans text-base font-normal;
  @apply text-txt bg-bg transition-colors duration-[var(--trans-s)];

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus-visible,
input:focus-visible,
button:focus-visible,
select:focus-visible,
details:focus-visible,
summary:focus-visible,
textarea:focus-visible {
  @apply p-0 bg-none border-none outline-none;
}

a:focus-visible,
input:focus-visible,
button:focus-visible,
select:focus-visible,
details:focus-visible,
summary:focus-visible,
textarea:focus-visible {
  @apply ring-4 ring-ring rounded-md;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply break-words;
}

img,
picture,
video,
canvas,
svg {
  @apply block max-w-full;
}

ul {
  @apply list-none;
}

ul,
li {
  @apply m-0 p-0;
}
