@import "tailwindcss";

:root {
  --clr-txt: #070708;
  --clr-bg: #fcfcfc;
  --clr-p: #7a9b43;
  --clr-focus: #8888ff;

  --trans-std: .2s;

  color: var(--clr-txt);
  background-color: var(--clr-bg);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --clr-txt: #fefefe;
  --clr-bg: #070708;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --trans-std: 0s;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

html,
body {
  transition: background-color var(--trans-std), color var(--trans-std);
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
  margin: 0;
}

input,
button,
textarea,
select {
  padding: 0;
  border: none;
  background: none;
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid var(--clr-focus);
  outline-offset: 2px;
}
